git+https://github.com/ayush6635/heroku.git
appdirs==1.4.4
beautifulsoup4==4.8.2
certifi==2019.11.28
chardet==3.0.4
Click==7.0
distlib==0.3.1
emoji==0.5.4
filelock==3.0.12
Flask==1.1.1
gunicorn==20.0.4
idna==2.8
itsdangerous==1.1.0
Jinja2==2.11.1
MarkupSafe==1.1.1
notify-run==0.0.13
pipenv==2020.6.2
pygame==1.9.6
PyQRCode==1.2.1
requests==2.22.0
selenium==3.141.0
six==1.15.0
soupsieve==1.9.5
urllib3==1.25.7
virtualenv==20.0.26
virtualenv-clone==0.5.4
Werkzeug==1.0.0
